
{% extends "base.html" %}
{%load static %}

{% block css %}
    #post_img{
        width:600px;
        height:500px;
    }
    .post_div{
        width:670px;
    }
    .liked{
      color:red;
    }
    
    .bt{
      padding:2px;
    }
{% endblock css %}

{% block nav-btn %}
 <!-- Button trigger modal -->
<button type="button" class="btn btn-outline-primary mx-2" data-toggle="modal" data-target="#postmodel">
    Post
  </button>
  <a href="{% url 'logout' %}"type="button" role="button" class="btn btn-outline-primary mx-2"> Logout</a> 
{% endblock nav-btn %}

{% block body %}
  {% if posts %}
    {% for i in posts %}

    <div id="stories" class="storiesWrapper"></div>

        <div class="container my-4 post_div" id="{{i.id}}">
            <div class="card">
                <div class="card-header">
                <a href="{% url 'Profile' i.user %}" style="color:black">{{ i.user }} </a><small>{{i.time}}</small>
                </div>
                <div class="card-body">
                <p>{{i.caption}}</p>
                {% if i.image %}
                    <img src="{{i.image.url}}" alt="{{i.image.url}}" id ="post_img">
                {% endif %}

                <br/>
                <br/>

                {% if i in liked_post %}
                  <a href="{% url 'likepost' %}" class="btn btn-primary mr-5 like" id ="{{i.id}}"><i class="fa fa-heart-o bt liked" id="likes" aria-hidden="true"> <strong>Like</strong></i> </a>
                {% else %}
                  <a href="{% url 'likepost' %}" class="btn btn-primary mr-5 like" id ="{{i.id}}"><i class="fa fa-heart-o bt" id="likes" aria-hidden="true"> <strong>Like</strong></i> </a>
                {% endif %}

                <a href="{% url 'comment' i.id %}" class="btn btn-primary mr-5 ml-4 c" id = "{{i.id}}"><i class="fa fa-commenting-o bt comment" aria-hidden="true"> <strong>Comment</strong></i> </a>
                {% if request.user == i.user %}
                  <a href="{% url 'delpost' i.id %}" class="btn btn-primary ml-3 delete" id={{i.id}}><i class="fa fa-trash-o bt "  aria-hidden="true"> <strong>Delete</strong></i> </a>
                {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
  {%else%}
<h2 style = "text-align:center; margin-top:250px; color:#1b262c;">No post yet!</h2>
  {% endif %}
{% endblock body %}

{% block model %}
  <!-- Modal -->
  <div class="modal fade" id="postmodel" tabindex="-1" role="dialog" aria-labelledby="postmodel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="postmodel">Post</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'post' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="image">Image:</label>
                <input type="file" id="image" name="images">
                <br/>
                <br/>
                <br/>
                <label for="caption">Caption:
                </label>
                <br/>
                <textarea name="caption" id="caption" cols="55" rows="10" placeholder="caption"></textarea>
            
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Post</button>
                </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock model %}

{% block js %}
<script>
  $(".delete").click(function(e) { 
    var id =  this.id ; 
    var href = this.href;
    console.log(href, id)  
    e.preventDefault(); 
  
    $.ajax({
        url: href,
        data: {},
    });
  
    $("#"+id).fadeOut(1000);
  
  }); 

  $(".like").click(function(e) { 
    var id =  this.id ; 
    var href = this.href;
    //var href = $('.like').attr('href');
    console.log(href, id)  
    e.preventDefault(); 
  
    $.ajax({
        url: href,
        data: {
          'likeid':id
        },
        success: function(response)
        {
          if(response.liked)
          {
            $("#"+id).find("#likes").addClass("liked")
          }
          else{
            $("#"+id).find("#likes").removeClass("liked")
          }
        }
    });
  }); 

</script>

<script src="{% static 'userpage/zuck.js-master/dist/zuck.min.js' %}"></script>
<script src="{% static 'userpage/zuck.js-master/demo/script.js' %}"></script>

{% endblock js %}